.contactsItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  height: 50px;
}
.contactsItem:not(:last-child) {
  margin-bottom: 20px;
}
.contactText {
  font-weight: 700;
}

.button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #d6c162;

  font-size: 16px;
  font-weight: 700;

  margin: 0 auto;
}

.button:hover,
.button:focus {
  background-color: #f1e758;
}
